:root {
  --text-color-light-primary: #ffffff;
  --text-color-light-secondary: #2196f3;
  --text-color-dark-primary: #757575;
  --text-color-dark-secondary: #212121;
  --bg-color-primary: #ffffff;
  --bg-color-light: #2196f3;
  --bg-color-dark: #2f303a;
  --font-primary: "Roboto", sans-seri;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
}
* {
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.border {
  border: 1px solid #ececec;
}
.section {
  padding: 94px 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
body {
  font-family: var(--font-primary);
  color: var(--text-color-dark-secondary);
  letter-spacing: 0.03em;
}
.horizontally {
  display: flex;
  justify-content: space-between;
}
.horizontally-secondary {
  display: flex;
  justify-content: center;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 50px;
}
.logo {
  font-family: "Raleway";
  font-weight: var(--font-weight-bold);
  font-size: 26px;
  line-height: 1.2;
  color: var(--text-color-light-secondary);
}
.navigation_logo {
  color: #000000;
}
.navigation-secondary {
  font-weight: var(--font-weight-medium);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text-color-dark-secondary);
  margin-left: 23px;
  margin-right: 23px;
}
.navigation-secondary:hover,
.address:hover {
  color: var(--text-color-light-secondary);
}
.navigation-secondary:focus,
.address:focus {
  color: var(--text-color-light-secondary);
}
.nav-sec_color {
  color: var(--font-weight-medium);
}
.main-section {
  background: var(--bg-color-dark);
}
.button-h1 {
  display: flex;
  flex-direction: column;
}
.main-primary {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-light-primary);
}
.button-primary {
  font-weight: var(--font-weight-bold);
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--text-color-light-primary);
  background: var(--bg-color-light);
  margin: 0 auto;
  border-radius: 4px;
}
.section_lorem {
  font-weight: var(--font-weight-bold);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.sectiom_lorem_p {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color-dark-primary);
}
.section_work,
.team {
  font-weight: var(--font-weight-bold);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 50px;
}
.image {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.our_team {
  background: #f5f4fa;
}
.name {
  font-weight: var(--font-weight-medium);
  line-height: 1.19;
  color: var(--text-color-dark-secondary);
}
.bg_img,
.name,
.position {
  background: var(--bg-color-primary);
}
.position {
  line-height: 1.19;
  color: var(--text-color-dark-primary);
}
.foot {
  background: var(--bg-color-dark);
}
.foot_logo {
  color: var(--text-color-light-primary);
}
.column {
  display: flex;
  flex-direction: column;
}
.address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  color: var(--text-color-light-primary);
}
.address_color {
  color: rgba(255, 255, 255, 0.6);
}
.projects {
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects_name {
  line-height: 1.88;
  color: var(--text-color-dark-primary);
}
.button-secondary {
  font-weight: var(--font-weight-medium);
  line-height: 1.62;
  text-align: center;
  background: #f5f4fa;
  color: var(--text-color-dark-secondary);
  border-radius: 4px;
}
.button-primary:focus,
.button-secondary:focus {
  color: var(--text-color-light-primary);
  background: var(--bg-color-light);
}
.button-primary:hover,
.button-secondary:hover {
  color: var(--text-color-light-primary);
  background: var(--bg-color-light);
}
.image-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-figure {
  display: flex;
  flex-direction: column;
  border: 1px solid #eeeeee;
}
